* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    color: blue;
    overflow: hidden;
    font-family: "Poiret One", sans-serif;
  }

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    background: rgba(29, 30, 34, .6);
}

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header.is-short {
    height: 28vh;
}

.testimg {
    position: absolute;
    width: 100%;
    transform: translateY(0);
}

.testimg.is-short {
    transform: translateY(-25%);
}

@media (max-aspect-ratio: 17/11) {

    .testimg {
        width: auto;
        height: 100vh;
    }
}

@keyframes slideFromAbove {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav {
    width: 33%;
    position: absolute;
    bottom: 20%;
    right: 10%;
}

.nav .title {
    opacity: 0;
    color: white;
    font-size: 4.4vw;
    text-align: right;
    animation: 0.4s ease 0s 1 forwards slideFromAbove;
}

.nav .links {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: 0.4s ease 0.2s 1 forwards slideFromAbove;
}

.nav a {
    font-size: 2.2vw;
}

.nav a::after {
    display: block;
    margin-top: 2px;
    height: 2px;
    background: white;
    content: '';
    width: 0;
    transition: all 0.3s;
}

.nav a:hover::after {
    width: 100%;
}